@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/woff/OpenSans-Regular.woff), url(./fonts/woff/OpenSans-Bold.woff) format('woff');
}
@font-face {
    font-family: 'OpenSans2';
    src: url(./fonts/woff2/OpenSans-Regular.woff2), url(./fonts/woff2/OpenSans-Bold.woff2) format('woff2');
}
