section, header, footer, .cntr {
    padding: 0 15px;
}

body {
    font-family: 'OpenSans';
}


.main-div {
    background: rgb(51, 6, 6);
    padding: 0 calc(50% - 590px);
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $dark-col;
}