$dark-col: #0C1111;
$grey-gradient-start: #E2E6EB;
$grey-gradient-end: #F3F1F5;
$yellow-gradient-start: #FF8C00;
$yellow-gradient-end: #FFBD00;

$head-text-col: #E0E0E0;
$head-categories-col: #BDBDBD;


// $text-color-dark: rgb(26, 26, 24);
// $link-color-light: rgb(255, 255, 255);
// $link-color-dark: rgb(26, 26, 24);

$gutter: 20px;